.availability-indicator-on {
    font-size: 16px;
    margin-bottom: 5px;
    background: #008d00;
    text-align: center;
    color: white;
}

.availability-indicator-off {
    font-size: 16px;
    margin-bottom: 5px;
    background: #cc0000;
    text-align: center;
    color: white;
}

.icon-status {
    background-image:url('images/user-orange.png');
}

.icon-queue {
    background: url('images/queue.png') no-repeat center left !important;
}

.icon-lock {
    background: url('images/lock.png') no-repeat center left !important;
}

#inbox-stats-view #inbox-active-label {
    margin: 3px;
    color: #3764A0;
}

#inbox-stats-view #inbox-active-value {
    float: right;
    color: #3764A0;
    font-weight: bold;
}

#inbox-stats-view #inbox-hold-label {
    margin: 3px;
    color: #3764A0;
}

#inbox-stats-view #inbox-hold-value {
    float: right;
    color: #3764A0;
    font-weight: bold;
}

.app-header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url('images/AppHeaderSlice.jpg');
    background-repeat: repeat-x;
}

.app-header .app-logo {
    background-image: url('images/AppHeaderLeft.jpg');
    height: 60px;
    width: 315px;
    background-repeat: no-repeat;
}

.login-info {
    float: right;
    color: #260063;
    padding-top: 30px;
    margin-right: 10px;
}

.login-name {
    text-decoration: underline;
}

.logout {
    text-decoration: underline;
    cursor: pointer;
}

.my-queues ul {
    list-style-image: url('images/queue.png');
    line-height: 1.5;
}

.my-queues.queue-wrap {
    margin: 3px;
    padding-left: 20px;
    height: 17px;
}

.my-queues li {
    padding-bottom: 2px;
}

.my-queues li.x-item-over {
    text-decoration: underline;
    color: #15428B;
}

.my-queues li.x-item-selected {
    border: 1px dotted #A3BAE9 !important;
}

.status-panel .x-panel-body {
    background: #F1F1F1;
}

.my-queues-panel .x-panel-body {
    background: #F1F1F1;
}

.search-panel .x-panel-body {
    background: #F1F1F1;
}