.app-header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-image: url('images/AppHeaderSlice.jpg');
    background-repeat: repeat-x;
}

.app-header .app-logo {
    background-image: url('images/AppHeaderLeftNew.jpg');
    height: 60px;
    width: 315px;
    background-repeat: no-repeat;
}

.login-info {
    float: right;
    color: #260063;
    padding-top: 30px;
    margin-right: 10px;
}

.login-name {
    text-decoration: underline;
}

.logout {
    text-decoration: underline;
    cursor: pointer;
}
