.icon-clear {
    background-image:url('images/check.png');
}

.bulk-clear-message {
    color: #595959;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
