.icon-msp-dashboard {
  background: url('images/flag-red.png');
}

.icon-create-msp {
  background: url('images/flag-red-add.png');
}

.icon-close-msp {
  background: url('images/flag-green.png');
}

.icon-view-msp-sps {
  background: url('images/link-check.png');
}
