.icon-transfer {
    background-image:url('images/arrow-right.png');
}

.bulk-transfer-view {
    background-color: #F1F1F1;
}

.bulk-transfer-view  div.x-item-selected {
    background-color: #A3BAE9;
}

.bulk-transfer-view .queue {
    height: 2em;
    line-height: 2em;
}