.icon-admin-queues-edit {
  background: url('images/page-edit.png')
}

.icon-admin-queues-create {
  background: url('images/page-add.png')
}

.icon-admin-queues-delete {
  background: url('images/page-delete.png')
}