.icon-admin-dashboard {
  background: url('images/user-group.png');
}

.icon-admin-teams {
  background: url('images/user-group.png');
}

.icon-admin-teams-edit {
  background: url('images/page-edit.png')
}

.icon-admin-teams-create {
  background: url('images/page-add.png')
}

.icon-reload {
  background-image: url('images/reload.png');
}