.action-toolbar .x-btn-default-toolbar-small-icon {
  padding: 2px  8px 2px 8px;
}

.icon-sp-unassigned {
    background-image:url('images/sp-unassigned.png');
}

.icon-sp-assigned {
    background-image:url('images/sp-assigned.png');
}

.icon-refresh {
    background: url('images/reload.png');
}

.icon-pull {
    background: url('images/pull-star.png');
}

.icon-hold {
    background: url('images/tag-add.png');
}

.icon-release {
    background: url('images/tag-delete.png');
}

.icon-reassign {
    background: url('images/user-check.png');
}

.icon-transfer {
    background: url('images/arrow-right.png');
}

.icon-clear {
    background: url('images/check.png');
}

.icon-line-test {
    background: url('images/mlt.gif');
}

.icon-feature-check {
    background: url('images/feature-check.gif');
}

.icon-work-reminder {
    background: url('images/clock.png');
}

.icon-associate-msp {
    background: url('images/flag-red-add.png');
}

.icon-create-trouble-report {
    background: url('images/page-add.png');
}

.icon-next-work-item {
    background: url('images/page-add.png');
}

.icon-amend-trouble-report {
    background: url('images/page-edit.png');
}

.icon-cancel-trouble-report {
    background: url('images/page-delete.png');
}

.icon-confirm-equipment-disconnect {
    background: url('images/plugin.png');
}

.icon-av {
    background: url('images/av.png');
}

.no-work-item-text {
    color: green;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}

.trouble-report-panel .x-panel-body {
  background: #F1F1F1;
}