.event-history-action-toolbar .x-btn-default-toolbar-small-icon {
  padding: 1px  5px 1px 5px;
}

.icon-filter-events {
    background: url('images/page-search.png');
}
.icon-refresh-history {
    background: url('images/page-reload.png');
}
.icon-add-note {
    background: url('images/comment-add.png');
}
.icon-show-notes-only {
    background: url('images/comment.png');
}

.x-tool-show-notes-only {
    background-image: url('images/comment.png');
}

.icon-event-history {
    background-image: url('images/comment.png');
}

.x-tool-add-note {
    background-image: url('images/comment-add.png');
}

.x-tool-refresh-history {
    background-image: url('images/page-reload.png');
}

.x-tool-filter-events {
    background-image: url('images/page-search.png');
}

.row-body {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.row-body-alt {
    @extend .row-body;
    background-color: #fafafa;
}

.x-grid-row-alt {
    background-color: #fafafa;
}