.icon-filter-events {
    background: url('images/page-search.png');
}
.icon-refresh-events {
    background: url('images/page-reload.png');
}
.icon-add-note {
    background: url('images/comment-add.png');
}
.icon-filter-event-notes {
    background: url('images/comment.png');
}