.action-toolbar .x-btn-default-toolbar-small-icon {
  padding: 2px  8px 2px 8px;
}

.icon-sp-unassigned {
    background-image:url('images/sp-unassigned.png');
}

.icon-refresh {
    background: url('images/reload.png');
}

.icon-pull {
    background: url('images/pull-star.png');
}

.icon-hold {
    background: url('images/tag-add.png');
}

.icon-unhold {
    background: url('images/tag-delete.png');
}

.icon-reassign {
    background: url('images/user-check.png');
}

.icon-transfer {
    background: url('images/arrow-right.png');
}

.icon-clear {
    background: url('images/check.png');
}

.icon-line-test {
    background: url('images/mlt.gif');
}

.icon-feature-check {
    background: url('images/feature-check.gif');
}

.icon-work-reminder {
    background: url('images/clock.png');
}

.icon-associate-msp {
    background: url('images/flag-red-add.png');
}

.icon-create-trouble-report {
    background: url('images/page-add.png');
}

.icon-amend-trouble-report {
    background: url('images/page-edit.png');
}

.icon-cancel-trouble-report {
    background: url('images/page-delete.png');
}

.icon-confirm-equipment-disconnect {
    background: url('images/plugin.png');
}

