.mlt-panel .x-panel-body {
  background: #F1F1F1;

}

.mlt-questions-text {
  color: green;
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
}

.mlt-answer-text {
  color: black;
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
  vertical-align: middle;
}

.mlt-answer-button {
  height: 50px;
  color: #595959;
}

$button-large-font-size: 16px;
$button-large-line-height: 30px;
