.icon-admin-problem-category-edit {
  background: url('images/page-edit.png')
}

.icon-admin-problem-category-create {
  background: url('images/page-add.png')
}

.icon-admin-problem-category-delete {
  background: url('images/page-delete.png')
}

.cell-editing-delete-row:before {
  font: 16px/1 FontAwesome;
  color: #ae0000;
  content: "\f056";
}