.icon-admin-problem-category-edit {
  background: url('images/page-edit.png')
}

.icon-admin-problem-category-create {
  background: url('images/page-add.png')
}

.icon-admin-problem-category-delete {
  background: url('images/page-delete.png')
}