.icon-admin-problem-category-edit {
  background: url('images/page-edit.png')
}

.icon-admin-problem-category-create {
  background: url('images/page-add.png')
}

.icon-admin-problem-category-delete {
  background: url('images/page-delete.png')
}

.queue-routing-row-delete:before {
  font: 16px/1 FontAwesome;
  color: #ae0000;
  content: "\f056";
}

.queue-routing-row-edit:before {
  font: 16px/1 FontAwesome;
  color: #007700;
  content: "\f044";
}