.queue-assignment-view-panel {
  background-color: #e0e0e0;
}

.queue-assignment-label {
  text-align:center;
  display:block;
  font-weight:bold
}

.queue-assignment-view-panel .x-box-inner {
  background-color: #e0e0e0;
}

.queue-assignment-view-panel label {
  background-color: #e0e0e0;
}

.queue-assignment-button-panel div {
  background-color: #e0e0e0;
}

.assigned-queues-view {
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
}

.assigned-queues-view div.x-item-selected {
  background-color: #A3BAE9;
}

.assigned-queues-view .queue {
  height: 2em;
  line-height: 2em;
}

.unassigned-queues-view {
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
}

.assigned-queues-view div.x-item-selected {
  background-color: #A3BAE9;
}

.unassigned-queues-view .queue {
  height: 2em;
  line-height: 2em;
}

.icon-admin-assign-add {
  background-image: url('images/right.gif');
}

.icon-admin-assign-remove {
  background-image: url('images/left.gif');
}

.icon-admin-assign-add-all {
  background-image: url("images/doubleright.gif");
}

.icon-admin-assign-remove-all {
  background-image: url("images/doubleleft.gif");
}