.x-toast .x-window-body {
  padding: 15px 5px 20px 5px;
  background-color: #B5EEFF;
  border: 0px solid white;
}

.x-toast .x-window-header {
  padding: 5px;
  background-color: #B5EEFF;
  border: 0px solid white;
}